<div class='bold-line'></div>
<div class='container'>
  <div class="background-image">
    <div class='window'>
      <div class='overlay'></div>
      <div class='content'>
        <div class='welcome'>Нова услуга</div>
        <div class='input-fields'>
          <form class="form-group " [formGroup]="addForm" (ngSubmit)="add()">
            <div class="mb-3" >
              <mat-form-field>
                <mat-label class='input-line full-width'>Тип</mat-label>
                <mat-select formControlName="serviceType">
                  <mat-option class='input-line full-width' *ngFor="let type of types" [value]="type.value" >
                    {{type.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="mb-3">
              <mat-form-field>
                <mat-label>Име</mat-label>
                <input class="input-line full-width" matInput formControlName="name">
              </mat-form-field>
            </div>
            <div class="mb-3">
              <mat-form-field>
                <mat-label>Цена</mat-label>
                <input class="input-line full-width"  placeholder="0,00" matInput formControlName="price">
              </mat-form-field>
            </div>

            <div>
              <button class='ghost-round full-width' type="submit">Добави</button>
              <button mat-dialog-close class='ghost-round full-width' >Затвори</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

