<div class='bold-line'></div>
<div class='container'>
  <div class="background-image">
    <div class='window'>
      <div class='overlay'></div>
      <div class='content'>
        <div class='welcome'>Запази час</div>
        <div class='input-fields'>
          <form class="form-group" [formGroup]="appointmentForm" (ngSubmit)="submitAppointment()">
            <div class="mb-3">
              <mat-form-field>
                <mat-label class='input-line full-width'>Тип на прегледа:</mat-label>
                <mat-select formControlName="type" [(ngModel)]="type" >
                  <mat-option class='input-line full-width' (onSelectionChange)="filterVetsByType(type.viewValue)" *ngFor="let type of types" [value]="type.value" >
                  {{ type.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="mb-3">
              <mat-form-field>
                <mat-label class='input-line full-width'>Ветеринар:</mat-label>
                <mat-select formControlName="vet" [(ngModel)]="vet" (select)="getVetId()" >
                  <mat-option class='input-line full-width' *ngFor="let vet of specVets" [value]="vet">
                    Д-р {{ vet.fullName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="mb-3">
              <mat-form-field>
                <mat-label class='input-line full-width'>Любимец:</mat-label>
                <mat-select formControlName="pet" [(ngModel)]="pet">
                  <mat-option class='input-line full-width' *ngFor="let pet of pets" [value]="pet">
                    {{ pet.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <mat-form-field>
              <mat-label>Дата:</mat-label>
              <input matInput [matDatepicker]="picker"
                      (dateChange)="addEvent('change', $event)"
                     [min]="todayDate" formControlName="date">
              <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="mb-3">
              <mat-form-field>
                <mat-label class='input-line full-width'>Време:</mat-label>
                <mat-select formControlName="time" [(ngModel)]="time">
                  <mat-option class='input-line full-width' *ngFor="let time of times" [value]="time">
                    {{ prettyTime(time) }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <button type="submit" class='ghost-round full-width'>Запази</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


