<div class="search-div">
  <button mat-raised-button [routerLink]="['/']">
    <mat-icon>add</mat-icon>Create
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData" matSort>
    <ng-container matColumnDef="owner">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Притежател</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.owner.fullName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="pet">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Любимец</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.pet.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="veterinarian">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Ветеринар</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.veterinarian.fullName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Описание</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Статус</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="datetime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Дата/час</mat-header-cell>
      <mat-cell *matCellDef="let element">{{prettyDate(element.dateTime)}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef = "let row">
        <button mat-icon-button color="warn" (click)="onDelete(row.id)"><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
