<div class='bold-line'></div>
<div class='container'>
  <div class="background-image">
    <div class='window'>
      <div class='overlay'></div>
      <div class='content'>
        <div class='welcome'>Редактиране на въпрос</div>
        <div class='input-fields'>
          <form class="form-group " [formGroup]="updateForm" (ngSubmit)="update()">
            <div>
              <mat-form-field>
                <mat-label>Въпрос</mat-label>
                <input class="input-line full-width" matInput formControlName="title">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Отговор</mat-label>
                <textarea matInput class="input-line full-width" formControlName="description"></textarea>
              </mat-form-field>
            </div>
            <div>
              <button class='ghost-round full-width' type="submit">Запази</button>
              <button mat-dialog-close class='ghost-round full-width'>Отказ</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

