.search-form-field{
  margin-left: 25px;
  width: 75%;
}
.search-div{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #b6e0fb;
}
.mat-raised-button {
  margin-left: 25px;
}
.text{
  font-size: 2rem;
  line-height: 24px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gambetta', serif;

}
