<div class='bold-line' xmlns="http://www.w3.org/1999/html"></div>
<div class='container'>
  <div class="background-image">
    <div class='window'>
      <div class='overlay'></div>
      <div class='content'>
        <div class='welcome'>{{ currentUser.fullName }}</div>
        <div class='input-fields'>
          <div>
            <p class="input-line ">Имейл: {{ currentUser.email }}</p>
            <p class="input-line ">Потребителско име: {{ currentUser.username }}</p>
            <p class="input-line ">Телефон: {{ currentUser.phoneNum }}</p>
            <p class="input-line ">Адрес: {{ currentUser.address }}</p>
            <button  class='ghost-round' >Любимци </button>
              <div class="mat-elevation-z8">
              <mat-table [dataSource]="pets" >
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Име</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="age">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Възраст</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.age}} г.</mat-cell>
                </ng-container>
                <ng-container matColumnDef="gender">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Пол</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{girlOrBoy(element.gender)}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="type">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Тип</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{petType(element.type)}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef = "let row">
                    <button mat-icon-button color="warn" (click)="onDelete(row.id)"><mat-icon>delete_outline</mat-icon></button>
                    <button mat-icon-button color="primary" (click)="onChange()"><mat-icon>edit</mat-icon></button>
                  </mat-cell>
                  <mat-cell *matCellDef = "let row">

                  </mat-cell>
                </ng-container>
<!--                <ng-container matColumnDef="loading">-->
<!--                  <mat-footer-cell *matFooterCellDef colspan="6">-->
<!--                    Зареждат се още...-->
<!--                  </mat-footer-cell>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="noData">-->
<!--                  <mat-footer-cell *matFooterCellDef colspan="6">-->
<!--                    Няма данни.-->
<!--                  </mat-footer-cell>-->
<!--                </ng-container>-->
                <mat-header-row *matHeaderRowDef="displayedColumnsForPet"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsForPet;"></mat-row>
<!--                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':pets!=null}" ></mat-footer-row>-->
<!--                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(pets!=null && pets.length==0)}"></mat-footer-row>-->
              </mat-table>
              <mat-paginator [pageSizeOptions]="[3,5,10,20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
            </div>
            <button  class='ghost-round' >Прегледи</button>
            <div class="mat-elevation-z8">
              <mat-table [dataSource]="appointments" >
                <ng-container matColumnDef="pet">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Пациент</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.pet.name}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="vet">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Ветеринар</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.veterinarian.fullName}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="date">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Дата/Час</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{prettyDate(element.dateTime)}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Статус</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{getStatus(element.status)}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef = "let row">
                    <button mat-icon-button color="warn" (click)="onDelete(row.id)"><mat-icon>delete_outline</mat-icon></button>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumnsForAppointment"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsForAppointment;"></mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[3,5,10,20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>
        <div>
          <button (click)="onAddPetClicked()" class='ghost-round full-width'>Добави любимец</button>
          <button (click)="onLogoutClicked()" class='ghost-round full-width'>Изход</button>
        </div>
      </div>
    </div>
  </div>
</div>
