<div class="container">
  <div class="background-image">
    <h1>Всеки любимец заслужава СУПЕР грижа!</h1>
  </div>
  <div class="text">
    <p>Добре дошли в СуперПетс - ветеринарна клиника, която се грижи за здравето и щастието на Вашите домашни любимци.

      <br><br>Ние сме екип от опитни ветеринарни лекари и любители на животни, които се стремят да предложат<br>
      най-добрите грижи за
      Вашите кучета, котки и други малки животни.

      <br> <br> Предлагаме широк спектър от услуги, включително прегледи, лечение на болести, профилактика, хирургия и
      стерилизация.
      <br>Също така предлагаме и допълнителни услуги като грижа за кожата и козметика за животни.

      <br><br>В СуперПетс знаем, че Вашите домашни любимци са част от семейството Ви и затова се грижим за тях като за
      собствени.
      <br><br>Нашата цел е да им осигурим най-доброто възможно лечение и грижа,<br> за да имате мирна увереност, че
      Вашите любимци са
      в добри ръце.

      <br><br> Свържете се с нас днес и доверете ни с грижата за здравето на Вашите домашни любимци.</p>
  </div>
  <h3>Нашите герои</h3>
  <div *ngFor="let vet of vets">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Д-р {{vet.fullName}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]=vet.photoUrl>
      <mat-card-content>
        <p>
          Роден на {{getPrettyDate(vet.birthDate)}} г. Завършва ветеринарна медицина в {{vet.universityInfo}}.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
