<div class='bold-line'></div>
<div class='container'>
  <div class="background-image">
    <div class='window'>
      <div class='overlay'></div>
      <div class='content'>
        <div class='welcome'>Регистрация</div>
        <div class='input-fields'>
          <form class="form-group " [formGroup]="registerForm" (ngSubmit)="proceedRegistration()">
            <div class="mb-3">
              <mat-form-field>
                <mat-label>Име, Фамилия</mat-label>
                <input class="input-line full-width" matInput formControlName="fullName">
              </mat-form-field>
            </div>
            <div class="mb-3">
              <mat-form-field>
                <mat-label>Адрес</mat-label>
                <input class="input-line full-width" matInput formControlName="address">
              </mat-form-field>
            </div>
            <div class="mb-3">
              <mat-form-field>
                <mat-label>Телефон</mat-label>
                <input class="input-line full-width" matInput formControlName="phoneNum">
              </mat-form-field>
            </div>
            <div class="mb-3">
              <mat-form-field>
                <mat-label>Имейл</mat-label>
                <input class="input-line full-width" matInput formControlName="email">
              </mat-form-field>
            </div>
            <div class="mb-3">
              <mat-form-field>
                <mat-label>Потребителско име</mat-label>
                <input class="input-line full-width" matInput formControlName="username">
              </mat-form-field>
            </div>
            <div class="mb-3">
              <mat-form-field>
                <mat-label>Парола</mat-label>
                <input type="password" class="input-line full-width" matInput formControlName="password">
              </mat-form-field>
            </div>

            <div>
              <button class='ghost-round full-width' type="submit">Регистрирай се</button>
              <button routerLink="/login" class='ghost-round full-width' type="submit">Обратно към Вход</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

